html {
    scroll-behavior: smooth;
}
  
body {
    font-family: 'Roboto Mono', monospace;
    padding: 3rem 2rem;
}

@keyframes slideInFromLeft {
    0% {
      transform: translateY(5%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  

header {
    height: 100vh;
    animation: 1s ease-out 0s 1 slideInFromLeft;
    padding: 30px;
}

footer {
    margin: 7rem 2rem 2rem 2rem;
}

#video-link {
    padding: 0.6rem;
    border: 3px solid #333;
    background: #9dffdd;
    box-shadow: 6px 6px 0px #9dffdd;
    text-decoration: none;
    cursor: pointer;
}

.disabled {
    display: none;
}

.button {
    text-decoration: none;
    outline: none;
    border: none;
    width: 6rem;
    height: 3rem;
    margin: 2rem;
    font-family: 'Roboto Mono';
    font-weight: 500;
    font-style: italic;
    font-size: 1.6rem;
    color: #bf5dff;
    cursor: pointer;
    transition: background 1s;
}

.button:hover {
    background: #436fb1;
}

.header__title {
    margin-bottom: 2rem;
}

.header__box {
    border: 3px solid #333;
    padding: 30px;
    background: #9dffdd;
    box-shadow: 6px 6px 0px #9dffdd;
}

.header__description {
    font-weight: 400;
    margin-bottom: 5rem;
}

.type--centered {
    text-align: center;
}

.flex {
    display: flex;
}

.flex--end {
    justify-content: flex-end;
}

.flex--column {
    display: flex;
    flex-direction: column;
}

.flex--in-between {
    justify-content: space-between;
}

.flex--align-center {
    align-self: center;
}

.section {
    height: 100vh;
    position: relative;
}

.section__content {
    border: 3px solid #444;
    box-shadow: 6px 6px 0px #333;
    padding: 20px;
    margin: 70px 20px;
}

.section__image {   
    position: absolute;
    width: 254px;
    top: -38px;
    left: -41px;
}

.section__image--right {
    position: absolute;
    width: 254px;
    top: -38px;
    right: -41px;
}

.section__title {
    margin-right: 30px;
}

.section--disabled {
    display: none;
}

.section--overflow {
    overflow-y: scroll;
    height: 25rem;
}

.sidenav {
    width: 30rem;
    border-right: 1px solid #333;
    margin-right: 20px;
}

.input {
    border: none;
    width: 100%;
    text-align: center;
    outline: none;
    font-size: 2rem;
    border-bottom: 3px solid #444;
    font-family: 'Roboto Mono';
}

/*  from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_arrows */

.arrow {
    cursor: pointer;
    border: solid #333;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 5px;
}

.arrow:hover {
    border: solid rgb(52, 100, 140);
    border-width: 0 4px 4px 0;
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}
  
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}